body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5a67d8;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #434190;
}

a {
    display: block;
    margin-top: 15px;
    color: #5a67d8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
.disabled-link {
    pointer-events: none; /* Tidak bisa diklik */
    opacity: 0.5; /* Lebih transparan */
    cursor: not-allowed; /* Ubah kursor jadi tanda larangan */
}
